{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <title>Logout</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}">

    <!-- Theme Config Js -->
    <script src="{% static 'js/config.js' %}"></script>

    <!-- App css -->
    <link rel="stylesheet" href="{% static 'css/app.min.css' %}">

    <!-- Icons css -->
    <link rel="stylesheet" href="{% static 'css/icons.min.css' %}">
</head>

<body class="authentication-bg">

    <div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5 position-relative">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-8 col-lg-10">
                    <div class="card overflow-hidden">
                        <div class="row g-0">
                            <div class="col-lg-6 d-none d-lg-block p-2">
                                <img src="{% static 'image/auth-img.jpg' %}" alt="" class="img-fluid rounded h-100">
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex flex-column h-100">
                                    <div class="p-4 my-auto">
                                        <div class="my-auto">
                                            <!-- title-->
                                            <div class="text-center">
                                                <h4 class="mt-0 fs-20">Você fez o logout com sucesso!</h4>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 text-center">
                                                    <p class="text-dark-emphasis">Volte para tela de <a href="/auth_login"
                                                            class="text-dark fw-bold ms-1 link-offset-3 text-decoration-underline"><b>Login</b></a></p>
                                                </div> <!-- end col -->
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
           
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->

    <footer class="footer footer-alt fw-medium">
        <span class="text-dark">
            <script>document.write(new Date().getFullYear())</script> © Joel
        </span>
    </footer>

    <!-- Vendor js -->
    <script src="{% static 'js/vendor.min.js' %}"></script>

    <!-- App js -->
    <script src="{% static 'js/app.min.js' %}" defer></script>

</body>

</html>