{% extends 'index.html' %}
{% block content %}


<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/">App</a></li>
                    <li class="breadcrumb-item active">Dashboards</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-xxl-3 col-sm-6">
        <div class="card widget-flat text-bg-pink">
            <div class="card-body">
                <div class="float-end">
                    <i class="ri-eye-line widget-icon"></i>
                </div>
                <h6 class="text-uppercase mt-0" title="Customers">Veículos Cadastrados</h6>
                <h2 class="my-2">{{ veiculos.count }}</h2>
                <p class="mb-0">
                    <span class="badge bg-white bg-opacity-10 me-1"></span>
                    <span class="text-nowrap"></span>
                </p>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-xxl-3 col-sm-6">
        <div class="card widget-flat text-bg-purple">
            <div class="card-body">
                <div class="float-end">
                    <i class="ri-wallet-2-line widget-icon"></i>
                </div>
                <h6 class="text-uppercase mt-0" title="Customers">OS Cadastradas</h6>
                <h2 class="my-2">0</h2>
                <p class="mb-0">
                    <span class="badge bg-white bg-opacity-10 me-1"></span>
                    <span class="text-nowrap"></span>
                </p>
            </div>
        </div>
    </div> <!-- end col-->
</div>

<!-- Reunioes -->
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body p-0">
                <div class="p-3">
                    <div class="card-widgets">
                        <a href="javascript:;" data-bs-toggle="reload"><i class="ri-refresh-line"></i></a>
                        <a data-bs-toggle="collapse" href="#yearly-sales-collapse" role="button" aria-expanded="false"
                            aria-controls="yearly-sales-collapse"><i class="ri-subtract-line"></i></a>
                        <a href="#" data-bs-toggle="remove"><i class="ri-close-line"></i></a>
                    </div>
                    <h5 class="header-title mb-0">Oficina</h5>
                </div>

                <div id="yearly-sales-collapse" class="collapse show">

                    <div class="table-responsive">
                        <table class="table table-nowrap table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>Placa</th>
                                    <th>Modelo</th>
                                    <th>Data de entrada</th>
                                    <th>Solicitição</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for veiculo in veiculos_oficina %}                                <tr>
                                    <td>{{ veiculo.placa }}</td>
                                    <td>{{ veiculo.modelo }}</td>
                                    <td>{{ veiculo.hora_cadastro }}</td>
                                    <td>{{ veiculo.solicitacao }}</td>
                                </tr>
                                {% endfor %}                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> <!-- end card-->
    </div> <!-- end col-->
</div>
<!-- end row -->

<!-- Reunioes -->
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body p-0">
                <div class="p-3">
                    <div class="card-widgets">
                        <a href="javascript:;" data-bs-toggle="reload"><i class="ri-refresh-line"></i></a>
                        <a data-bs-toggle="collapse" href="#yearly-sales-collapse" role="button" aria-expanded="false"
                            aria-controls="yearly-sales-collapse"><i class="ri-subtract-line"></i></a>
                        <a href="#" data-bs-toggle="remove"><i class="ri-close-line"></i></a>
                    </div>
                    <h5 class="header-title mb-0">Loja</h5>
                </div>

                <div id="yearly-sales-collapse" class="collapse show">

                    <div class="table-responsive">
                        <table class="table table-nowrap table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>Placa</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th>Ano Modelo</th>
                                    <th>Data de entrada</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for veiculo in veiculos_loja %}
                                <tr>
                                    <td>{{ veiculo.placa }}</td>
                                    <td>{{ veiculo.marca }}</td>
                                    <td>{{ veiculo.modelo }}</td>
                                    <td>{{ veiculo.ano_fabricacao_modelo }}</td>
                                    <td>{{ veiculo.data_entrada }}</td>
                                </tr>
                                {% endfor %}                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> <!-- end card-->
    </div> <!-- end col-->
</div>
<!-- end row -->

{% endblock %}