{% extends 'index.html' %}
{% block content %}

<!-- start breadcumbss title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-left">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/">App</a></li>
                    <li class="breadcrumb-item"><a href="/paciente">Paciente</a></li>
                    <li class="breadcrumb-item active">Editar</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->

<!-- formulario cadastrar -->

<div class="content">
    <div class="modal-body">
        <h2 class="mt-0 mb-4">Editar Paciente</h2>
        <!-- Exibir erros do formulário -->
        {% if form.errors %}
        <ul>
            {% for field in form %}
            {% for error in field.errors %}
            <li><strong>{{ field.label }}</strong>: {{ error }}</li>
            {% endfor %}
            {% endfor %}
        </ul>
        {% endif %}

        <form class="ps-3 pe-3" action="/paciente/editar/{{paciente.id}}/" method="POST">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="form-group col-2">
                    <label for="guia">Guia</label>
                    {{ form.guia }}
                </div>

                <div class="form-group col-2">
                    <label for="registro">Registro</label>
                    {{ form.registro }}
                </div>

                <div class="form-group col-2">
                    <label for="categoria">Categoria</label>
                    {{ form.categoria }}
                </div>

                <div class="form-group col-2">
                    <label for="dataCadastro">Data Cadastro</label>
                    {{ form.data_cadastro }}
                </div>

                <div class="form-group col-2">
                    <label for="dataHabilitacao">Data Habilitação</label>
                    {{ form.data_habilitacao }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="form-group col-6">
                    <label for="nome">Nome</label>
                    {{ form.nome_completo }}
                </div>

                <div class="form-group col">
                    <label for="dataNascimento">Data de Nascimento</label>
                    {{ form.data_nascimento }}
                </div>

                <div class="form-group col">
                    <label for="sexo">Sexo</label>
                    {{ form.sexo }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="form-group col-2">
                    <label for="ufIdentidade">UF Identidade</label>
                    {{ form.uf_emissor }}
                </div>

                <div class="form-group col-2">
                    <label for="identidade">Identidade</label>
                    {{ form.identidade }}
                </div>

                <div class="form-group col-2">
                    <label for="orgao">Órgão</label>
                    {{ form.orgao_emissor }}
                </div>

                <div class="form-group col-2">
                    <label for="ufNaturalidade">UF Naturalidade</label>
                    {{ form.uf_naturalidade }}
                </div>

                <div class="form-group col-3">
                    <label for="naturalidade">Naturalidade</label>
                    {{ form.naturalidade }}
                </div>

            </div>


            <div class="row mb-3">
                <div class="form-group col-6">
                    <label for="nomeMae">Nome da mãe</label>
                    {{ form.nome_mae }}
                </div>

                <div class="form-group col-6">
                    <label for="nomePai">Nome do pai</label>
                    {{ form.nome_pai }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="form-group col-7">
                    <label for="logradouro">Logradouro</label>
                    {{ form.logradouro }}
                </div>

                <div class="form-group col-2">
                    <label for="numero">Número</label>
                    {{ form.numero }}
                </div>

                <div class="form-group col">
                    <label for="bairro">Bairro</label>
                    {{ form.bairro }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="form-group col-2">
                    <label for="ufCidade">UF Cidade</label>
                    {{ form.uf_cidade }}
                </div>

                <div class="form-group col">
                    <label for="cidade">Cidade</label>
                    {{ form.cidade }}
                </div>

                <div class="form-group col-2">
                    <label for="cep">CEP</label>
                    {{ form.cep }}
                </div>

                <div class="form-group col-3">
                    <label for="complemento">Complemento</label>
                    {{ form.complemento }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="form-group col-3">
                    <label for="cpf">CPF</label>
                    {{ form.cpf }}
                </div>
                <div class="form-group col-3">
                    <label for="telefone">Telefone</label>
                    {{ form.celular }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>

        </form>

    </div>
</div>
<!-- end modal criar -->

{% endblock %}