{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.8">

    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}">

    <!-- Theme Config Js -->
    <script src="{% static 'js/config.js' %}"></script>

    <!-- App css -->
    <link rel="stylesheet" href="{% static 'css/app.min.css' %}">

    <!-- Icons css -->
    <link rel="stylesheet" href="{% static 'css/icons.min.css' %}">
</head>

<body class="authentication-bg position-relative">
    <div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5 position-relative">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-8 col-lg-10">
                    <div class="card overflow-hidden">
                        <div class="row g-0">
                            <div class="col-lg-6 d-none d-lg-block p-2">
                                <img src="{% static 'image/auth-img.jpg' %}" alt="" class="img-fluid rounded h-100">
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex flex-column h-100">
                                    <div class="p-4 my-auto">
                                        <h4 class="fs-20">Faça Login ou Cadastre-se</h4>
                                        <p class="text-muted mb-3">Entre com sua conta.
                                        </p>
                                        {% if messages %}
                                        {% for message in messages %}
                                        <section class="alert {{message.tags}}">
                                            {{message}}
                                        </section>
                                        {% endfor %}
                                        {% endif %}

                                        <!-- form -->
                                        <form action="/auth_login/" method="POST">
                                            {% csrf_token %}

                                            <div class="mb-3">
                                                <label for="email" class="form-label">Usuário</label>
                                                <input class="form-control" type="text" name="username" id="username"
                                                    required="" placeholder="Digite seu usuário">
                                            </div>
                                            <div class="mb-3">                                                
                                                <label for="password" class="form-label">Senha</label>
                                                <input class="form-control" type="password" name="password" required=""
                                                    id="password" placeholder="Digite sua senha">
                                            </div>
                                            
                                            <div class="mb-0 text-start">
                                                <button class="btn btn-soft-primary w-100" type="submit"><i
                                                        class="ri-login-circle-fill me-1"></i> <span
                                                        class="fw-bold">Entrar</span> </button>
                                            </div>
                                        </form>
                                        <!-- end form-->
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <p class="text-dark-emphasis">Não tem uma conta? <a href="/auth_register"
                            class="text-dark fw-bold ms-1 link-offset-3 text-decoration-underline"><b>Cadastra-se</b></a>
                    </p>
                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->

    <footer class="footer footer-alt fw-medium">
        <span class="text-dark">
            <script>document.write(new Date().getFullYear())</script> © Joel
        </span>
    </footer>

</body>

</html>