{% extends 'index.html' %}
{% block content %}
{% load static %}

<!-- start breadcumbss title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-left">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/dashboard">App</a></li>
                    <li class="breadcrumb-item active">Atendimento</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->

<!-- start page lista lider -->

<div class="row">
    <section id="fila-espera">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <a href="/atendimento/cadastro" type="button" class="btn btn-secondary">Iniciar atendimento</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive-sm">
                        <table class="table table-striped table-centered mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Guia</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Data Cadastro</th>
                                    <th scope="col">Solicitação</th>
                                    <th scope="col">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for atendimento in pacientes_em_atendimento %}
                                <tr>
                                    <td>{{ atendimento.id_paciente.guia }}</td>
                                    <td>{{ atendimento.id_paciente.nome_completo }}</td>
                                    <td>{{ atendimento.id_paciente.data_cadastro | date:"d/m/Y" }}</td>
                                    <td>{{ atendimento.solicitacao }}</td>
                                    <td>
                                        <a href="{% url 'atendimento_preencher_exame' id=atendimento.id %}"
                                            class="text-reset fs-16 px-1" title="Preencher"> <i
                                                class="ri-dossier-line"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="fila-atendidos">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h4>Atendidos</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive-sm">
                        <table class="table table-striped table-centered mb-0">
                            <thead>
                                <tr>
                                    <th>Guia</th>
                                    <th>Nome</th>
                                    <th>Data Exame</th>
                                    <th>Solicitação</th>
                                    <th>Conclusão</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for paciente in pacientes_atendidos %}
                                <tr>
                                    <td>{{ paciente.id_paciente.guia }}</td>
                                    <td>{{ paciente.id_paciente.nome_completo }}</td>
                                    <td>{{ paciente.id_paciente.data_cadastro | date:"d/m/Y" }}</td>
                                    <td>{{ paciente.solicitacao }}</td>
                                    <td>{{ paciente.conclusao }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end page lista paciente -->

<!-- modal criar atendimento -->

<div id="exameModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Cadastrar Exame</h2>
        <form id="exameForm">
            <label for="nomeExame">Nome:</label>
            <input type="text" id="nomeExame" required><br><br>

            <label for="tipoSolicitacao">Tipo de Solicitação:</label>
            <select id="tipoSolicitacao" required>
                <option value="Urgente">Urgente</option>
                <option value="Normal">Normal</option>
            </select><br><br>

            <label for="valorExame">Valor do Exame:</label>
            <input type="number" id="valorExame" required><br><br>

            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
</div>

<!-- fim modal criar atendimento -->

<!-- Atendimento js -->
<script src="{% static 'js/atendimento.js' %}"></script>

{% endblock %}