{% extends 'index.html' %}
{% block content %}

<!-- start breadcumbss title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-left">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/dashboard">App</a></li>
                    <li class="breadcrumb-item"><a href="/ordemservico">Ordem de Serviço</a></li>
                    <li class="breadcrumb-item active">Criar</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <section id="fila-espera">
        <div class="col-xl-10">
            <div class="card">
                <div class="card-header">
                    <h4>Criar</h4>
                </div>
                <div class="card-body">
                    <div class="modal-body">
                        {% if erro %}
                        <div class="alert alert-danger" role="alert">
                            {{ erro }}
                        </div>
                        {% endif %}

                        <form class="ps-3 pe-3" action="/ordemservico/criar" method="POST">
                            {% csrf_token %}
                            <div class="row mb-3">
                                <div class="form-group col-5">
                                <label for="veiculo_select">Selecione o carro:</label><br>
                                <select id="veiculo_select" name="veiculo" class="form-select">
                                    {% for veiculo in veiculos %}
                                    <option value="{{ veiculo.placa }}">Placa: {{ veiculo.placa }} - {{ veiculo.modelo }}</option>
                                    {% endfor %}
                                </select><br><br>
                                </div>
                            </div>
                            
                            <button type="button" class="btn btn-primary" onclick="adicionarCampo()">Adicionar Item</button>

                            <div class="row mb-3">
                                <div id="item-fields">
                                </div>
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Salvar</button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}