{% extends 'index.html' %}

{% load static %}

{% block title %}Criar Ordem de Serviço{% endblock %}

{% block content %}

<!-- start breadcumbss title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-left">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/dashboard">App</a></li>
                    <li class="breadcrumb-item"><a href="/ordemservico">Ordem de Serviço</a></li>
                    <li class="breadcrumb-item active">Criar</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-xl-10">
        <div class="card">
            <div class="card-body">
                <div class="modal-body">
                    {% if erro %}
                    <div class="alert alert-danger" role="alert">
                        {{ erro }}
                    </div>
                    {% endif %}

                    <form class="ps-3 pe-3" action="/ordemservico/criar" method="POST">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="form-group col-5">
                                <select id="veiculo_select" name="veiculo_id" class="form-select">
                                    {% for veiculo in veiculos %}
                                    <option value="{{ veiculo.id }}">Placa: {{veiculo.placa}} - Modelo:
                                        {{veiculo.modelo}}</option>
                                    {% endfor %}
                                </select><br>
                            </div>
                            <div class="form-group col-4">
                                <input type="date" class="form-control" id="data_os" name="data">
                            </div>

                            <div class="form-group col-3">
                                <button type="submit" class="btn btn-primary">Criar OS</button>
                            </div>
                        </div>
                    </form>
                    <form class="ps-3 pe-3" action="/ordemservico/adicionarServico" method="POST">
                        <div class="card-footer">
                            <div class="table-responsive-sm">
                                <table class="table table-striped table-centered mb-0">
                                    <div class="row mb-3" id="item-fields">
                                        <div class='row'>
                                            <div class='col-5'>
                                                <input type='text' placeholder='Serviço' class='form-control'
                                                    name='servico'>
                                            </div>
                                            <div class='col-md'>
                                                <input type='text' placeholder='Tempo de Execução' class='form-control'
                                                    name='tempo_execucao'>
                                            </div>
                                            <div class='col-md'>
                                                <input type='text' placeholder='Valor' class='form-control'
                                                    name='valor'>
                                            </div>
                                            <div class='col-md'>
                                                <button type="button" class="btn btn-danger"
                                                    onclick="remove_servico(this)">Remover</button>
                                            </div>
                                            <div class='col-md'>
                                                <button type="button" class="btn btn-secondary"
                                                    onclick="add_servico()">Adicionar</button>
                                            </div>
                                        </div>
                                    </div>

                                    <br>
                                    <button type="submit" class="btn btn-primary">Salvar</button>
                                </table>
                            </div>
                        </div>
                </div>

                </form>

            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block script %}
<script src="{% static 'js/ordemservico.js' %}"></script>
{% endblock %}